/* hide eye icon for password fields  */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-input-security {
  display: none;
}

input[type="password"]::-moz-input-security {
  display: none;
}
