.all-login-form-containers {
  max-width: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

#all-login-form-container {
  width: 400px;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#all-login-form-container .user-login-input {
  border-radius: 50px;
  padding: 20px;
  width: 80%;
  margin: auto;
  margin-top: 28px;
  height: 20px;
}
#all-login-form-container .user-login-btn-container {
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: space-around;
}
.user-login-btn-container button {
  background-color: #ffe95d;
  color: black;
  border: none;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.user-login-btn-container .active {
  color: white;
  background-color: #3e67b6;
}

.user-login-btn-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.user-login-btn-container-2 button {
  border-radius: 0;
  width: 9rem;
  margin-bottom: 20px;
}

.user-login-btn-container-2 .active {
  color: white;
  background-color: #3e67b6;
}

#all-login-form-container .invalid-feedback {
  margin-left: 45px;
}

.user-login-btn-container-2 .user-forgot-password {
  color: #0d6efd;
  font-weight: 700;
  cursor: pointer;
}

.user-login-btn-container-2 p {
  margin-bottom: 0;
}
